<!-- views/login.html -->  
<form ng-submit="login.login()" method="post">  
	<input type="username" ng-model="login.username"/>
    <input type="password" ng-model="login.password"/>
    <input type="email" ng-model="login.email"/>
    <input type="firstName" ng-model="login.firstName"/>
    <input type="lastName" ng-model="login.lastName"/>
    <input type="photo" ng-model="login.photo"/>
    <input type="socialProfiles" ng-model="login.socialProfiles"/>
    <button type="submit">Autenticarse</button>
</form>